<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Forgot Password?</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required>
        <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
          <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)" color="primary"
          mat-raised-button
          type="submit">
    <mat-icon>send</mat-icon>
    Send Password
  </button>
  <button color="warn" mat-dialog-close mat-raised-button>
    <mat-icon>cancel</mat-icon>
    Close
  </button>
</mat-dialog-actions>
