<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span> View Bill </span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-dialog-close mat-icon-button>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <table id="customers">
    <tr>
      <td><b>Name: </b> {{ data.name }}</td>
      <td><b>Email: </b> {{ data.email }}</td>
    </tr>

    <tr>
      <td><b>Contact Number: </b> {{ data.contactNumber }}</td>
      <td><b>Payment Method: </b> {{ data.paymentMethod }}</td>
    </tr>
  </table>

  <div class="responsive-table">
    <br/>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell>Category</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.category }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell>Price</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th *matHeaderCellDef mat-header-cell>Quantity</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.quantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th *matHeaderCellDef mat-header-cell>Total</th>
        <td *matCellDef="let element" mat-cell>
          {{ element.total }}
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
    </table>
  </div>
</mat-dialog-content>
